body {
  height: 100%;
  text-align: center;
  background: #2185D0;
}

.score-table {
  margin-left:5%;
  margin-right:5%;
}

.typing-text {
  user-select: none;
}

.membrainHome {
  margin-left:5%;
  margin-right:5%;
}
.memorize-tile-game {
  margin-top: 10px;
}

.memorize-tile-score {
  font-size: 1.5em;
  margin-left: 5px;
  color: #2495ee;
}

.memorize-tile {
  display: inline-block;
  height: 50px;
  width: 50px;
  border: 2px solid black;
  margin: 2px 2px 0px 2px;
}

.tile-red {
  background-color: red;
}

.tile-white {
  background-color: white;
}
.sudokuBoard {
  margin-left: 30%;
  margin-right: 30%;
}

.sudokuTable {
  border-collapse: collapse !important;
  border-spacing: 0 !important;
}

.sudokuCell {
  padding: 0 !important;
}

.sudokuCell:nth-child(3n+1) {
  border-left: 2px solid black !important;
}
.sudokuCell:nth-child(3n+0) {
  border-right: 2px solid black !important;
}
.sudokuRow:nth-child(1) {
  border-top: 2px solid black;
}
.sudokuRow:nth-child(3n+0) {
  border-bottom: 2px solid black;
}
input[data-errored="true"] {
  background-color: #F44F4F;
  border-color: #F44F4F;
}
input.sudoku-cell {
  cursor: pointer;
  font-size: 18px;
  margin: 0;
  padding: 2px 5px;
  padding-left: 20px;
}
input.sudoku-cell:hover:not([readonly]) {
  border-color: #584b4f;
}
button.sudoku-control {
  margin: 10px 5px;
  display: inline;
  outline: 0;
}
input[readonly] {
  background-color: #dce1ea;
}
input[readonly]:hover {
  cursor: default;